:root {
  font-family: system-ui, 'Roboto', 'Open Sans', 'Lato', 'Inter', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #09f;
  --secondary-color: #487180;
  --background-color: #6f6f6fa2;
  --text-color: #333;
  --button-hover-color: #007bff;
  --button-background-color: #6f6f6f;
  --button-border-color: #ffffff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

button {
  border-radius: 1000px;
  border: 0.5px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}
button:hover {
  background-color: var(--button-hover-color);
  border-color: var(--button-border-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style: none;
  padding: 0;
}
header {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

header .filters {
  margin-top: 1rem;
}